html, body, #webgl-canvas, #container {
  border: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}

#enter-vr {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25vmin;
  height: 25vmin;
}

#vr-icon {
  width: 100%;
  height: 100%;
}